<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding" />
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/BillyHttp" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding" contract="ServinClass"
                name="WSHttpBinding" />
      <endpoint address="net.tcp://localhost:8002/BillyTcp" binding="netTcpBinding"
                bindingConfiguration="BasicHttpBinding" contract="ServinClass"
                name="BasicHttpBinding" />
      <endpoint address="net.tcp://localhost:8002/BillyTcping" binding="netTcpBinding"
                bindingConfiguration="BasicHttpBinding" contract="ServinClass"
                name="BasicHttpBinding2" />
    </client>
  </system.serviceModel>
</configuration>