<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MyMessedUpAnimal">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1234"/>
          </baseAddresses>
        </host>
        <endpoint binding="wsHttpBinding" contract="ICat"/>
        <endpoint binding="wsHttpBinding" contract="ICow"/>
        <endpoint binding="wsHttpBinding" contract="IPig"/>
        <endpoint address="/Kitty" binding="wsHttpBinding" contract="ICat"/>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
